body{
    /* background-color: red; */
    background-image: url('../image/6971567.jpg');
background-size: cover;
/* background-attachment: scroll; */
background-repeat: no-repeat;
background-attachment: fixed;
}
#image{
    border-radius: 25px;
 background-color: rgba(255, 255, 255, 0.562);
}
#card{
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.63);
}
#PragraphSingUp{
    font-size: 60px;
    font-family: 'Times New Roman', Times, serif;
}

